/* General form styling */
.form {
  padding: 20px;
  width: auto;
  max-width: 400px;
  margin: 40px auto;
  color: #fff;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16.4px);
  -webkit-backdrop-filter: blur(16.4px);
}

/* Style for form headings */
.form h4 {
  text-align: center;
  margin-bottom: 20px;
}

/* Labels and Inputs styling */
.form label {
  display: block;
  margin-bottom: 5px;
  font-size: 1rem;
  font-size: medium;
}

.form input[type="text"],
.form input[type="checkbox"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Text input specific styling */
.form input[type="text"] {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: inherit;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: #3b75c1;
  background-color: #e0e8ef;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: rgba(255, 255, 255, 0.333);
  border-radius: 40px 40px 40px 40px;
  padding: 16px 24px 16px 28px;
  transform: translate(0px, 0px) rotate(0deg);
  transition: 0.2s;
  box-shadow: -1px -1px 2px 0px #ffffff, 1px 1px 2px 0px;
}

/* Checkbox specific styling */
.form input[type="checkbox"] {
  transform: scale(1.2);
  cursor: pointer;
  accent-color: #d5f009;
}

/* Submit Button Styling */
.form button[type="submit"] {
  display: block;
  display: inline-block;
  /* align-items: center;
  justify-content: center;  */
  gap: 10px;
  width: 100px;
  padding: 10px;
  border-radius: 60px;
  background-color: #d5f009;
  color: #921ffd;
  border: none;
  letter-spacing: 0.4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form button[type="submit"]:hover {
  background-color: inherit;
  color: #d5f009;
}

Placeholder styling */ ::placeholder {
  color: #c7c7c7;
}
.inputGoodWeather {
  font-family: inherit;

  letter-spacing: 0.4px;
}

#inputName {
  text-align: center;
}
