/* General form styling */
.form {
  background-color: #2c2c2c; /* Dark background for the form */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 40px auto;
  color: #fff; /* White text color */
}

/* Style for form headings */
.form h4 {
  text-align: center;
  margin-bottom: 20px;
}

/* Labels and Inputs styling */
.form label {
  display: block;
  margin-bottom: 5px;
  font-size: 1rem;
}

.form input[type="text"],
.form input[type="checkbox"] {
  width: 100%; /* Full width */
  padding: 10px;
  margin-bottom: 20px; /* Space between form elements */
  border-radius: 5px; /* Rounded corners for inputs */
  border: none; /* No border */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Text input specific styling */
.form input[type="text"] {
  background-color: #404040; /* Darker background for text input */
  color: #fff; /* White text color */
}

/* Checkbox specific styling */
.form input[type="checkbox"] {
  transform: scale(1.2); /* Slightly larger checkbox */
  cursor: pointer; /* Pointer cursor on hover */
}

/* Submit Button Styling */
.form button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #556cd6; /* Subtle blue background for the button */
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transition for a smooth color change */
}

.form button[type="submit"]:hover {
  background-color: #ffee00; /* Lighter blue on hover */
  color: #2c2c2c;
}

/* Placeholder styling */
::placeholder {
  color: #b0b0b0; /* Light grey color for placeholder */
}
