.activity-list {
  list-style: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
}

.activity-list li {
  background-color: #ab2121; /* Light background for list items */
  margin: 10px 0; /* Add some space between list items */
  padding: 10px; /* Add some padding inside list items */
  border-radius: 5px; /* Slightly rounded corners for list items */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for list items */
}
