.location-selection {
  display: inline-block;
  gap: 10px;
  width: auto;
  padding: 10px;
  border-radius: 60px;
  color: #000000;

  border: none;
  letter-spacing: 0.4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
