.location-selection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: inherit;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: #77a6e3;
  background-color: #e0e8ef;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: rgba(206, 207, 207, 0.333);
  border-radius: 40px 40px 40px 40px;
  padding: 16px 24px 16px 28px;
  transform: translate(0px, 0px) rotate(0deg);
  transition: 0.2s;
  box-shadow: -1px -1px 2px 0px #ffffff, 1px 1px 2px 0px;
}

#location-button {
  background-color: inherit;
  color: #7d7c7c;
}
#location-button:hover {
  transform: scale(1.2, 1.2);
}
#location-button:focus {
  transform: scale(1.2, 1.2);
  color: #2a2a2a;
}
