#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.location-selection.europe {
  background-image: url("./assets/Images/europe.jpeg");
}

.location-selection.arctic {
  background-image: url("./assets/Images/arctic.jpeg");
}

.location-selection.sahara {
  background-image: url("./assets/Images/sahara.webp");
}

.location-selection.rainforest {
  background-image: url("./assets/Images/rainforest.jpeg");
  color: aliceblue;
}
/* 
body,
.europe {
  background: linear-gradient(
    180deg,
    rgba(176, 166, 53, 1) 0%,
    rgba(2, 0, 36, 1) 100%
  );
}

body,
.arctic {
  background: rgb(40, 114, 209);
  background: linear-gradient(
    180deg,
    rgba(40, 114, 209, 1) 0%,
    rgba(20, 18, 56, 1) 100%
  );
}

body,
.sahara {
  background: linear-gradient(
    180deg,
    rgba(209, 134, 40, 1) 0%,
    rgba(2, 0, 36, 1) 100%
  );
}

body,
.rainforest {
  background: linear-gradient(
    180deg,
    rgba(36, 71, 14, 1) 0%,
    rgba(2, 0, 36, 1) 100%
  );
} */
